@import "tailwindcss";
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

:root {
  --white: #ffffff;
  --off-white: #fafafa;
  --black: #000000;
  --green: #00703a;
  --stroke: rgba(0, 0, 0, 0.1);
  --font-sans: "SF Pro Display", sans-serif;
  --color-background: var(--off-white);
  --color-foreground: var(--black);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
