@import "tailwindcss";
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

:root {
  --white: #ffffff;
  --off-white: #fafafa;
  --black: #000000;
  --green: #00703a;
  --stroke: rgba(0, 0, 0, 0.1);
  --font-sans: "SF Pro Display", sans-serif;
  --color-background: var(--off-white);
  --color-foreground: var(--black);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-sm;
}

h5 {
  @apply text-xs uppercase font-semibold text-[rgba(0,0,0,0.4)];
}

@layer utilities {
  .shadow-custom-left {
    box-shadow: -16px 9px 18px rgba(0, 0, 0, 0.1);
  }
  
  .shadow-custom-light {
    box-shadow: -4px 2px 10px rgba(0, 0, 0, 0.1);
  }
}