@import "tailwindcss";
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

:root {
  --white: #ffffff;
  --off-white: #fafafa;
  --black: #000000;
  --green: #00703a;
  --transparent-green: rgba(6, 118, 64, 0.15);
  --stroke: rgba(0, 0, 0, 0.1);
  --font-sans: "SF Pro Display", sans-serif;
  --color-background: var(--off-white);
  --color-foreground: var(--black);
}

@layer base {
  body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
    line-height: 125%;
    letter-spacing: -0.03125rem;
  }

  h1 {
    @apply text-[2.5rem];
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-sm;
  }

  h5 {
    @apply text-xs uppercase text-[rgba(0,0,0,0.4)];
  }
}

@layer utilities {
  .shadow-custom-light {
    box-shadow: -16px 9px 18px rgba(0, 0, 0, 0.01),
      -4px 2px 10px rgba(0, 0, 0, 0.01);
  }

  .border {
    border-color: var(--stroke);
    border-style: solid;
    border-width: 0.6px;
  }

  .border-selected {
    border-color: var(--green);
    background-color: var(--green);
    color: white;
    border-style: solid;
    border-width: 0.8px;
  }

  .hover {
    transform: scale(1.02);
    transition-duration: 300ms;
  }
}
